.container{ 
    width: 100vw;
}

.anti-hero{
    height: 80vh;
    background-color: #0C859F;
    padding: 5%;
    align-self: center;
   
   }
.hero{
    background-image: url('https://images.pexels.com/photos/7688343/pexels-photo-7688343.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    height: 80vh;
    background-size: cover;
    background-position: bottom left;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.hero-text{ 
    font-size: 3rem;
    font-weight: bold;
}
.hero-section{
    width: 100vw;
    margin: 0;
}
.navbar-toggler{
    border:0px !important;
    box-shadow: none !important;
}
.btn{
    border-radius: 2px;
    border: none !important;
}
.button{
    background: linear-gradient(180deg, #00B1D8 3.65%, #0C859F 46.88%, #006278 100%);
}
.button:hover{
    background: linear-gradient(90deg, #00B1D8 3.65%, #0C859F 46.88%, #006278 100%);

}
.button-main{
    background: linear-gradient(0deg, rgba(193, 197, 198, 0.72) 0%, #929697 25.52%, #8B8C8C 100%);
}
.button-main:hover{
    background: linear-gradient(180deg, rgba(193, 197, 198, 0.72) 0%, #929697 25.52%, #8B8C8C 100%);
}

.navbar{
    background-color: #ffffff;
}
.logos{
    width: 200px;
}
.fa-solid{
    font-size:4em;
}
.fa-linkedin{
    font-size:4em;
}
.speaker-logo{
    margin-top: 5%;
    width: 50%;
}
.speaker-img{
    height: 250px;
}
.speaker-shadow{
    box-shadow: -12px -12px 2px 1px rgba(57, 111, 118, 0.78);
}

strong {
    color:rgba(0,174,239,1);
}
.speaker p {
    margin: 0;
}
#benefits{
    background: linear-gradient(180deg, #00B1D8 3.65%, #0C859F 46.88%, #006278 100%);
}

.fa-star{
    font-size: 5rem;
    color: white;
}

.box{
    width: 100%;
    margin:5%;
    padding: 10px;
    height: 200px;
    background-color: aliceblue;
}

.track-section{
    background-color:rgba(0, 0, 0, 0.9);
    margin-bottom: 5%;
}

.track{
    height: 200px;
    margin:5%;
    padding: 10%;
    color: black;
    background-color: rgba(57, 111, 118, 0.05);
    border: 1px solid rgba(0,174,239,1);
    border-radius: 15px;
}
.track >h4{
    cursor:default;
}
.track:hover{
    background-color:#006278;
}
.track:active{
    background-color: black;
}
.modal{
    color: black;
}
#sponsors{
    background-color:rgba(0, 0, 0, 0.9);

}
input,textarea{
    width: 50vw;
    margin-bottom:10px;
    border: 1px solid;
    border-radius: 3px;
}
textarea{
min-height: 100px;
}

label{
    margin-bottom:5px; 
}

.submit{
    background-color: #006278;
}
.submit:hover{
    background-color: #229bb6;
}
.submit:active{
    background-color: #05282f;
}
.submit:visited{
    background-color: green;
}

footer{
    background-color: #0C859F;;
}

@media only screen and (max-width: 768px) {
   .hero-section{
    height: 80vh;
   }
    .hero{
    z-index: -2;
    position: absolute;
    background-position: bottom;
   }
   .anti-hero{
    text-align: center;
    height: 100%;
    padding: 5%;
    background-color: rgba(245, 245, 245, 0.85);
   }
   .speaker-logo{
    margin-top: 2%;
    width:20%;
}

  }