.container{ 
    width: 100vw;
}

.anti-hero{
    padding: 5%;
    align-self: center;
   
   }
.hero{
    background-image: url('https://images.pexels.com/photos/7688343/pexels-photo-7688343.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    height: 75vh;
    background-size: cover;
    background-position: bottom left;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.hero-section{
    width: 100vw;
    margin: 0;
}


.button{
    background-image: linear-gradient(rgba(252,253,101,1),rgba(253,197,33,1));
    border: none;
}
.button:hover{
    background-image: linear-gradient(45deg, rgba(253,197,33,1), rgba(252,253,101,1));

}

.navbar{
    background-color: #1685F0;
}
.logos{
    width: 200px;
}
.speaker-logo{
    margin-top: 5%;
    width: 50%;
}
strong {
    color:rgba(0,174,239,1);
}
.speaker p {
    margin: 0;
}
#benefits{
    background-image: linear-gradient(rgba(0,174,239,1),rgba(30,116,239,1), rgba(91,0,239,1));
}

.fa-star{
    font-size: 5rem;
    color: white;
}

#testimonials{
    background-image: linear-gradient(rgba(0,174,239,1),rgba(30,116,239,1), rgba(91,0,239,1));
}
.box{
    width: 100%;
    margin:5%;
    padding: 10px;
    height: 200px;
    background-color: aliceblue;
}
#tracks{
    padding: 5%;
}
.track-section{
    background-color: #00AEEF;
    margin-bottom: 5%;
}

.track{
    height: 200px;
    margin:5%;
    padding: 10%;
    color: black;
    background-color: aliceblue;
    border: 1px solid rgba(0,174,239,1);
    border-radius: 15px;
}
.track >h4{
    cursor:default;
}
.track:hover{
    background-color: rgba(0,174,239,1);
}
.track:active{
    background-color: rgb(44, 98, 179);
}
.modal{
    color: black;
}
#sponsors{
    background-image: linear-gradient( rgba(0,174,239,1),rgba(30,116,239,1), rgba(91,0,239,1));

}

footer{
    background-color: #00AEEF;
}

@media only screen and (max-width: 768px) {
   .hero-section{
    height: 60vh;
   }
    .hero{
    z-index: -2;
    position: absolute;
    background-position: bottom;
   }
   .anti-hero{
    text-align: center;
    height: 100%;
    padding: 5%;
    background-color: rgba(245, 245, 245, 0.85);
   }
   .speaker-logo{
    margin-top: 2%;
    width:20%;
}

  }